.navbar{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px;
  padding: 10px 0px;
}
.active{
  color: rgb(248, 248, 248);
  text-decoration: none;
  background-color:rgb(92, 91, 91);
  padding:5px 10px;
  border-radius: 10px;
}
.inactive{
  color: rgb(186, 186, 186);
  text-decoration: none;
  padding:5px 10px;
}

.container{
  margin:  1rem;
  padding: 1rem;
  color: rgb(186, 186, 186);
}
.page-title{
  text-align: center;
}
.container-title{
  text-align: center;
  margin-bottom: 6px;
  padding: 5px;
}
.input-container{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(53 53 53);
}

/* .input-container-display-champions{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(53 53 53);
  justify-content: space-between;
} */
.input-container-display-champions{
  justify-content: center;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(53 53 53);
}
.input-wrapper{
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
input{
  width: 5rem;
}
input.small{
  width: 2rem;
}
.added-trait-container{
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.added-trait-wrapper{
  border-radius: 5px;
  padding: 1px;
  background-color: rgb(71 71 71);
  display: flex;
  gap: 14px;
  margin: 0.5rem;
  justify-content: center;
}
.display-trait-wrapper{
  
}
.display-trait{
  margin: 2px 2px;
  background: rgb(39, 40, 46);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  font-size: 12px;
  justify-content: center;
}
.display-trait-add{
  margin: 7px 2px;
  background: rgb(39, 40, 46);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  cursor:pointer;
}
.display-button{
  margin: 2px 2px;
  background-color: rgb(72 72 75);
  border: 1.5px solid rgb(133 133 133);
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  font-size: 12px;
  cursor:pointer;
}
.display-button-delete{
  margin: 2px 2px;
  background-color: rgb(104, 68, 68);
  border: 1.5px solid rgb(133 133 133);
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  font-size: 12px;
  cursor:pointer;
}
.champions-and-trait-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

.button-container{
  height: fit-content;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 4rem;
  justify-content: center;
  color: rgb(186, 186, 186);
}
.edit-button-wrapper{
  display: flex;
  justify-content: center;
}
.champions-container{
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(75 74 74);
  margin:0.5rem;
  flex-wrap: wrap;
  display: flex;
}
.traits-container-champions-page{
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(75 74 74);
  margin:0.5rem;
  padding: 0.5rem;
}
.traits-container-trait-page{
  border-radius: 20px;
  background-color: rgb(75 74 74);
  margin:0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  display: flex;
}
.traits-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.display-updated-message{
  width: 10rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(52 68 51);
}

.trait-and-button-container{
  align-items: center;
  display: flex;
}
.display-updated-message{

}
.display-input-data{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px auto;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  background-color: rgb(53 53 53);
}
.input-wrapper-trait{
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
@media screen and (max-width: 340px) {
  input.small{
    width: 5rem;
  }
  .display-button{
    width: fit-content;
    margin-inline:auto;
  }
  label{
    width: 3rem;
  }
  .label-trait{
    width: 5rem;
  }
  .display-button-wrapper{
    width:100%;
  }
  .display-trait{
    margin: 2px 19px;
    background: rgb(39, 40, 46);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    padding: 4px 8px;
    display: flex;
    font-size: 12px;
    justify-content: center;
  }
  .input-container-display-champions {
    justify-content: center;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 5px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(53 53 53);
}
}
@media screen and (max-width: 510px) {
  .champions-container{
    border-radius: 20px;
    background-color: rgb(75 74 74);
    margin:0.5rem;
    width:auto;
    display:block;
  }
  .edit-button-wrapper{
    display: flex;
    justify-content: center;
    width:100%;
  }
  .input-wrapper{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  /* .input-wrapper-trait{
    display: flex;
    gap: 5px;
  } */
  input.small{
    width: 5rem;
  }
  .added-trait-container{
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .input-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 5px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(53 53 53);
  }
}
@media screen and (max-width: 510px) and (min-width: 510px){
}