.background {
  background-color: rgb(251, 242, 230);
}
div.champions_list_wrapper{
  /* display: inline-block; */
  gap: 5px;
  justify-content: center;
  align-items: center;
  
}

.info-container{
  width:16em;
  
}
.reset {
  border-radius: 5px;
  background-color: rgb(96, 96, 244);
  color: white;
  cursor: pointer;
  text-align: center;
  width: 49px;
  font-size: 15px;
  align-self: center;
}
.champion-item {
  /* background-color: rgb(96, 96, 244); */
  color: rgb(248, 248, 248);
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  width: auto;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  /* box-shadow: 0 0 5px 10px #c9c9c9; */
}

.champion-item-small {
  /* background-color: rgb(96, 96, 244); */
  color: rgb(248, 248, 248);
  padding: 5px 5px;
  margin: 5px;
  font-size: 12px;
  width: auto;
  /* cursor: pointer; */
  text-align: center;
  border-radius: 7%;
  /* display: inline-block; */
  /* box-shadow: 0 0 10px 5px #c9c9c9; */
}

.one {
  background-color: rgb(132,137,153);
}
.two {
  background-color: rgb(20,178,137);
}
.three {
  background-color: rgb(33,122,199);
}
.four {
  background-color: rgb(196,64,218);
}
.five {
  background-color: rgb(254,185,60);
  /* opacity: 0.8; */
}
.five-indicator{
  color: rgb(248, 248, 248);
  background-color: rgb(254,185,60);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
}
.four-indicator {
  color: rgb(248, 248, 248);
  background-color: rgb(196,64,218);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
}
.three-indicator {
  color: rgb(248, 248, 248);
  background-color: rgb(33,122,199);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
}
.two-indicator {
  color: rgb(248, 248, 248);
  background-color: rgb(20,178,137);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
}
.one-indicator {
  color: rgb(248, 248, 248);
  background-color: rgb(132,137,153);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
}
.selected {
  background-color: rgb(48, 48, 48);
  /* opacity:0.5; */
  color:rgb(198, 198, 198);
}

.sort {
  background-color: rgb(92, 91, 91);
  color: rgb(248, 248, 248);
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  width: 50px;
  height: 20px;
  cursor: pointer;
  /* text-align: center; */
  border-radius: 50px;
  display: inline-block;
  align-items: center;
} 

.no-result {
  background-color: rgb(92, 91, 91);
  color: rgb(248, 248, 248);
  border-radius: 50px;
  width: auto;
  height: auto;
  font-size: 25px;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

.align-horizontal {
  text-align:center;
  display:flex;
  /* align-items:center;  */
  justify-content: space-evenly;
  /* Allow items to wrap to the next line */
  flex-wrap: wrap; 
  /* Enable horizontal scrolling if necessary */
  /* overflow-x: auto;  */
  /* white-space: nowrap; Prevent text from wrapping */
}



