.header-container{
  margin:10px;
}

.header-wrapper{
  display:flex;
  flex-wrap: wrap;
  gap:5px;
  justify-content: flex-end;
}
.header-wrapper-admin{
  display:flex;
  flex-wrap: wrap;
  gap:5px;
  justify-content: space-between;
}
.login-input-field{
  width: 6em;
}

.label{
  margin:5px;
  width:100px;
}

.login-button{
  
}
